.DS_store
.bundle/
.ruby-version
.ruby-gemset
.rvmrc
Gemfile.lock
*.log
*.gem
gems
gems_backup
*scratch*
*notes*
loader.rb

lib/messaging/event_store
lib/messaging/event_store.rb
lib/messaging/postgres
lib/messaging/postgres.rb
